<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8">

    <title>{{t1}} aca</title>

</head>

<body style="background-color:#F2F3F4;">

    <h3 style="text-align: center; color: #3f7320;"><span style="border-bottom: 4px solid #c82828;">

        </span>
        <h1 style="text-align:center;">{{t3}} Blockchain</h1> <img
            src="https://s03.s3c.es/imag/_v0/770x420/b/a/7/Blockchain.jpg" ">

        <p><strong>  ¿Qué es y para qué sirve la tecnología blockchain? </strong></p>

        <table class=" demoTable" style="height: 54px;">

        <thead></thead>
        <tbody>
            <tr>

                <h1>{{time1}} Se traduce como cadena de bloques. </h1>

                la dada por Don & Alex Tapscott en su libro Blockchain Revolution: “un libro de contabilidad digital
                incorruptible de transacciones económicas que se puede programar para registrar no solo transacciones
                financieras, sino prácticamente todo lo que tiene valor».

                <h1> Básicamente, {{yj}} blockchain

                    <h1> Fecha varible string( {{t3}} )

                    </h1>{{yj}} blockchain

                    .</td>
            </tr>
        </tbody>
        </table>

        <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Revisa <a target="_blank" rel="nofollow noopener"
                href="http://localhost:8000/inicio/">Django</a> Pagina creada desde cero.</p>

</body>

</html>